<div class= 'container-fluid'>
	<div class= "jumbotron">
		<h2>Your shopping lists</h2>
			<% @lists.each do |l| %>
			<ul>
		    <li>
		      <h3><%= l.name %></h3>
		      <ul>
		        <% l.items.each do |i| %>
		          <li><%= i.item_name %></li>
		        <% end %>
		        <a href="/lists/edit" class="btn btn-info btn-sm" role="button" >Edit List</a><a href="/lists/edit" class="btn btn-danger btn-sm" role="button" >Delete List</a>
		      </ul>
		    </li>
		  </ul>
		<% end %>
					<th><a href="/lists/new" class="btn btn-primary btn-lg" role="button" >New List</a></th>
	</div>
</div>

