<div class= 'container-fluid'>
	<div class= "jumbotron" >
		<h1>Trader Joe's Shopping List</h1>
			<p>Do you need an application to build shopping lists for Trader Joe's? Then this is the web app for you!</p>
			<th><a href="/sessions/new" class="btn btn-primary btn-lg" role="button" >Sign in!</a></th>
			<th><a href="/users/new" class="btn btn-info btn-lg" role="button" >Sign up!</a></th>

	</div>
</div>