<div class= 'container-fluid'>
	<div class= "jumbotron">
		<h1>Trader Joe's Items</h1>
			<% @items.each do |i| %>
			<% end %>
			<th><a href="/items/new" class="btn btn-primary btn-lg" role="button" >New Item</a></th>
	</div>
</div>
